<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @user_weight.weight %>
</p>

<%= link_to 'Edit', edit_user_weight_path(@user_weight) %> |
<%= link_to 'Back', user_weights_path %>
