<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @weight_entry.weight %>
</p>

<%= link_to 'Edit', edit_weight_entry_path(@weight_entry) %> |
<%= link_to 'Back', weight_entries_path %>
